{% set tilt_selector = [project.title, project.type]|join('-') %}
<div id="project">
  <div class="project-element" id="{{tilt_selector}}">
    {% if project.title is same as('Uniride') and project.type is same as('Web') %}
    <div class="heading">Projects</div>
    <div class="divider"></div>
    {% endif %}
    <div class="project-element-box">
      <div class="box-overlay"><div class="project-top-bar">
        <div class="project-top-bar-overlay"></div>
        <div class="project-button">
          <div class="arrow"></div>
        </div>
      </div></div>
      <div class="project-description-main">
        <div class= "project-preview-landscape">
          <!-- <video loop muted autoplay class= "project-preview-landscape">
          <source src="../img/temp_video.mp4" type="video/mp4">
        </video> -->
      </div>
      <div class="project-title">
        <div class="title-1">{{project.title}}<br/></div>
        <div class="title-2">{{project.type}}</div>
      </div>
    </div>
  </div>
  <div id="project-transition-overlay">
  </div>
  <div id="project-detail-background">
    <div class="arrow-wrapper"><div id="arrow-projects"></div><div id="arrow-projects"></div></div>
    <div class="project-detail-wrapper">
      <div class="project-title">
        <div class="title-1">{{project.title}}<br/></div>
        <div class="title-2">{{project.type}}</div>
      </div>
      <div class="project-preview-landscape-enlarged"></div>
      <div class="project-description"><div class="align-left">{{project.description}}</div></div>
      <div class="skills-row" id="project-links">
        <div class="skill-element"><div class="title-1">Links:</div></div>
        {% for link in project.links %}
        <div class="skill-element">
          <a href="{{link.url}}" class="skill-logo" style="background-image: url('{{link.logo}}')" target="_blank"></a>
        </div>
        {% endfor %}
      </div>
      <div class="skills-row" id="project-skills">
        {% for skill in project.skills %}
        <div class="skill-element">
          <div class="skill-logo" style="background-image: url('{{skill.logo}}')"></div>
          <div class="text">{{skill.name}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
