<span id="triangle-wrapper">
    <div id="triangle">
        <div id = "triangle-overlay">
            <div id="burger">
                <div class="stick-wrap">
                    <div class="stick half left" id="one"></div>
                    <div class="stick third-right"></div>
                </div>
                <div class="stick-wrap">
                    <div class="stick full" id="two"></div>
                </div>
                <div class="stick-wrap">
                    <div class="stick half right" id="three"></div>
                    <div class="stick third-left" ></div>
                </div>
                <div id="circle"></div>
            </div>
        </div>
        <div id="nav-bar">
            <div class="nav-element ">
                About
            </div>
            <div class="nav-element span_1_of_4">
                Skills
            </div>
            <div class="nav-element span_1_of_4">
                Projects
            </div>
            <div class="nav-element span_1_of_4">
                Contact
            </div>
        </div>
    </div>
</span>

<div id="nav-bar-2">
    <span id="move_right">
        <div class="nav-element ">
            About
        </div>
        <div class="nav-element span_1_of_4">
            Skills
        </div>
        <div class="nav-element span_1_of_4">
            Projects
        </div>
        <div class="nav-element span_1_of_4">
            Contact
        </div>
    </span>
</div>

<span id="bio-wrapper">
    <span id="bio">
        <div class="row start-xs">
            <div class="col-xs">
                <div class="box">
                    <!-- <div id="profile-image"></div> -->
                    <div id="profile-name">
                        <div class="line">Hello, I'm
                            <div id="first-name">Akshat</div>
                            <div id="last-name">Sharma</div>
                            <div id="descr">Software Engineer & <br> UI/UX Enthusiast</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="bio-descr">
                <div id="left-aligned-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum blandit ante, non gravida diam ornare nec. Nam blandit congue interdum. Sed non fermentum mi. Curabitur ut sollicitudin diam. Phasellus faucibus tempus efficitur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac tortor eget urna lobortis porttitor nec ac leo.
                </div>
            </div>
            <div id="gap-filler"></div>
            <div id="social-media">
                <div id="logo-group">
                    <a class="logo" href="https://www.linkedin.com/in/akshat46/" target="_blank"></a>
                    <a class="logo" href="https://github.com/akshat46" target="_blank"></a>
                    <a class="logo" href="https://codepen.io/DynamicDorito/" target="_blank"></a>
                </div>
            </div>
        </div>
    </span>
</span>
